<ion-header>
  <ion-toolbar>
    <ion-title>demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)="t101Command()">t101Command</ion-button>
    <ion-button (click)="t102Command()">t102Command</ion-button>
  </div>
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="result">
    <div>Content</div>
    <div>{{content}}</div>
  </div>
  <div *ngIf="result">
    <div>Result</div>
    <div>{{result| json}}</div>
  </div>
  <div *ngIf="error">
    <div>Error</div>
    <div>{{result| json}}</div>
  </div>
  <div style="height: 100%"></div>
  <div><input /></div>
</ion-content>
